annotated-types
anyio
appnope
asttokens
click
comm
contourpy
cycler
datetime
debugpy
decorator
dotenv
executing
fastapi
fonttools
h11
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
opencv-python
packaging
pandas
parso
pdf2image
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
pydantic
pydantic_core
Pygments
pymongo
pyparsing
pytesseract
python-dateutil
pytz
pyzmq
scipy
six
sniffio
stack-data
starlette
tensorflow
tornado
traitlets
typing_extensions
tzdata
uvicorn
wcwidth
